@import 'lib/normalize';
@import 'vars';

body {
  background: $white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $black;
}

.content {

  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

.tap {
  border-right: 1px solid $lilac;
  box-sizing: border-box;
  float: left;
  height: 100vh;
  padding: 1em;
  width: 25%;

  &:nth-child(4) {
    border-right: none;
  }
}
