@import 'lib/normalize';
@import 'vars';

body {
  background: $white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $black;
}

.content {

  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

.tap {
  box-sizing: border-box;
  float: left;
  height: 100vh;
  overflow: hidden;
  width: 25%;

  &:nth-child(4) {
    border-right: none;
  }
}

.hero {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.details {
  border-right: 1px solid $lilac;
  padding: 1em;
}