@import 'lib/normalize';
@import 'fonts';
@import 'vars';

::selection {
  background: $green;
  color: $white;
}

body {
  background: $white;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: 16px;
  color: $black;
}

h1, h2, h3, h4, h5 {
  font-family: $bebas-neue;
  font-weight: $regular;
}

h2 {
  color: $orange;
  font-size: 2em;
  font-weight: $bold;
  margin-bottom: 0;
}

h3, h4, h5 {
  font-size: 0.875em;
  letter-spacing: 1px;
}

p {
  font-size: 0.75em;
}

.content {

  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

.tap {
  box-sizing: border-box;
  float: left;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 25%;

  .details {
    height: 100%;
    position: relative;

    .inner-content {
      border-left: 1px solid $lilac;
      height: 100%;
      padding: 3em 1em 1em;
    }
  }

  &:first-child {

    .details {

      .inner-content {
        border-left: none;
      }
    }
  }
}

.hero {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.title-card {
  background: $white;
  left: 5%;
  overflow: hidden;
  padding: 0.75em 0 1em;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 90%;
  white-space: nowrap;
}

.style {
  background: linear-gradient(90deg, $gd-dk-green, $gd-lt-green);
  color: $white;
  left: 0;
  margin: 0;
  padding: 1.1em 0 0.9em;
  position: absolute;
  top: 0;
  width: 100%;
}
