// Colors
$black: #333333;
$gray: #CCCCCC;
$green: #39B54A;
$lilac: #E7E7E7;
$orange: #E99D00;
$white: #FFFFFF;

// Colors for gradients
$gd-dk-green: #55910B;
$gd-lt-green: #95D600;

// Media queries
$small: 36em;
$medium: 45em;
$large: 58.75em;
$x-large: 71.25em;
$xx-large: 120em;