// Colors
$black: #333333;
$blue: #3D72C6;
$blue-2: #D6E5FE;
$brown: #8D5518;
$brown-2: #F2E0CA;
$dk-gray: #666666;
$gray: #686868;
$gray-2: #E2E2E2;
$green: #508C17;
$green-2: #D7F4B5;
$lilac: #E7E7E7;
$orange: #D0761D;
$orange-2: #FEDFB9;
$purple: #A63DEF;
$purple-2: #EFD9FE;
$red: #D93180;
$red-2: #FED6EA;
$teal: #16959B;
$teal-2: #ACFBFE;
$white: #FFFFFF;

// Media queries
$small: 36em;
$medium: 45em;
$large: 58.75em;
$x-large: 71.25em;
$xx-large: 120em;