{{#each taps}}
  <div class="tap">
    <div class="hero" style="background-image: url('{{fields.imageLink}}')"></div>
    <div class="details">
      <h2>{{fields.beerName}}</h2>
      <p>{{fields.description}}</p>
    </div>
  </div>
{{/each}}
